Language:     Cpp
BasedOnStyle: Google
AccessModifierOffset: -2
BinPackParameters: false
BreakBeforeBraces: Linux
ColumnLimit: 120
DerivePointerAlignment: false
IncludeBlocks: Preserve
SeparateDefinitionBlocks: Always
