[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
[submodule "D3D12MemoryAllocator"]
	path = D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "DirectX-Headers"]
	path = DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
